$colorLetra1:#C9DCB3;
$colorFondo:#7B7263;
$defaultWidth: 100%;

*{
    margin:0;
    box-sizing: border-box;
}

body{
    animation: aparece ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    min-width: 300px;
}

@keyframes aparece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer{

    margin: 0;
    background-color: black;
    background: linear-gradient(to left, #000, rgb(83, 83, 83));
    color: beige;
    text-align: center;
    width: $defaultWidth;
}

.seccionHome  { 

    color: cornsilk;
    background-color: black;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("img/back.jpg") ;

    nav {
        background-color: rgba(0, 0, 0, 0.363)!important; 
    }
    a:link, .seccionHome,.seccionHome a:active {
        text-decoration: none;   
        color: white!important;
    }

}

.bannerHome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 25rem;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: xx-large;
    text-align: center;
    align-items: center;
    top: 20%;
    left: 50%;
    color: white;
    text-shadow: 2px 2px 2px black; 
    background-color:  rgba(0, 0, 0, 0.363);

    h3 {
        font-family: 'Source Sans Pro', serif;
    }
}

.modal-body, .modal-header{
    color:black;
}

@media only screen and (min-width: 500px) {
    
    .bannerHome {
        font-size: large;
        height: 35rem;
    }

    .bannerMenues {
        align-items: flex-start!important;
        font-size: small;
    }

    .resumen1 {
        width: $defaultWidth/4;
        height: 11rem!important;
    }
    
    .resumen2 {
        width: $defaultWidth/4;
        height: 11rem!important;
    }
    
    .resumen3 {
        width:$defaultWidth/4;
        height: 11rem!important;
    }

}       

@media only screen and (min-width: 768px) { 

    .bannerHome {
        font-size: x-large;
    }

}       

.bannerMenues {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.363);

    h3 {
        padding-top: 4%;
        padding-bottom: 4%;
    }


}


@keyframes tiembla {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.resumen1 {
    margin: 0 0 1em 1em;
    height: auto;
    background-color: rgb(151, 6, 6);
    animation-name: tiembla;    
    animation-iteration-count: 2;
    animation-duration: 2s;
}

.resumen2 {
    margin: 0 0 1em 1em;
    height: auto;
    background-color: rgb(151, 6, 6);
    animation-name: tiembla;    
    animation-iteration-count: 2;
    animation-duration: 2s;
}

.resumen3 {
    margin: 0 0 1em 1em;
    height: auto;
    background-color: rgb(151, 6, 6);
    animation-name: tiembla;    
    animation-iteration-count: 2;
    animation-duration: 2s;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.tabla1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: $defaultWidth/2;
    border: 5px solid transparent;
    th {
        background: rgb(71, 3, 3);
    }
    td {
        background-color: rgb(88, 38, 38);
        text-align: center;
    }
}

.homeSubscripcion__tabla2 {
    width: $defaultWidth/3;
    margin: 0 auto; 
    text-align: center;

    td {
        background-color: #3d3a33;
        border: 2px solid transparent;
        text-align: center;
    }
}

.homeSubscripcion {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: #7B7263;
    color:#C9DCB3;

    h2 {
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 2px #3d3a33; 
        padding-bottom: 1em;
    }
}


/* CSS del segmento CONTACTO */

.contacto {
    text-align: center;
    color: $colorLetra1;
    background-color: $colorFondo;

    nav {
        background-color: transparent!important;
    }

    h3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.contactoInfo {
    margin: 0;
    width: $defaultWidth;
    padding-bottom: 5rem ;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: left;
    text-align: center;
}

#caba { 
    background-color: #686154;
    padding-bottom: 2rem;
}

#mendoza { 
    background-color: $colorFondo;
    padding-bottom: 2rem;
}

#santaFe { 
    background-color: #686154;
    padding-bottom: 2rem;
}

@media only screen and (min-width: 500px) {
    
}


/* CSS del segmento Delivery */

.delivery {
    padding-bottom: 3rem;
    color: $colorLetra1;
    background-color: $colorFondo;

    nav {
        background-color: transparent!important;
    }

}

.carousel-caption {
    h3, .carousel-caption p {
    color: black!important;
}}

/* CSS del segmento Carta */

.carta {
    color: $colorLetra1;
    background-color: $colorFondo;
    text-align: center;

    nav {
        background-color: transparent!important;
    }

    h1{ 
        padding-bottom: 3%;
    }
    
}

.cartaInfo {
    width: $defaultWidth;
    padding-bottom: 5rem ;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;  
    justify-items: center;
    align-items: center; 
    align-content: center;
    text-align: center;
}

.menuTitulo {
    font-family: 'Roboto', sans-serif; 
    font-size: x-large;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-shadow: 1px 1px 1px #444444;
}

.menuLinea {
    color: linen;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #444444; 
    margin-top: 1%;
    margin-bottom: 1%;
    border: transparent solid 5px;
    width: auto;
    background-color:#a39884;
    height: auto;
    box-shadow: 2px 2px 2px  #645d51;

    h3 {
        font-size: larger;
    }

    p {
        font-size: medium;
        color: rgb(65, 65, 65);
    }
}

.menuLinea:hover {
    text-shadow: 2px 2px 2px #303030; 
    border-radius: 10px;
    box-shadow: 0 0 15px 10px #4b453c ;
}

@media only screen and (min-width: 768px) { 

    .menuLinea {
        height: 3rem;
        width: $defaultWidth/1.5;
    }

}       

/* CSS del segmento Nosotros */

.nosotros {
    color: $colorLetra1;
    background-color: $colorFondo;

    nav {
        background-color: transparent!important;
    }
    h1 { 
        text-align: center;
        font-size: xx-large;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 2%;
        text-shadow: 2px 2px 2px #201f1b; 
    }
}

.nosotrosInfo {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px #201f1b; 
    font-size: larger;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center; 
    text-align: center;   
    padding-bottom: 2rem;
}

.nostrosGaleria {
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img:hover {
        transform: scale(1.05,1.05);
        opacity:0.75;
    }
}

.nostrosGaleria__imagenA{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.nostrosGaleria__imagenB {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.nostrosGaleria__imagenC {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.nostrosGaleria__imagenD {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
}

.nostrosGaleria__imagenE {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
}

.nostrosGaleria__imagenF {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}

