@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$colorLetra1: #c9dcb3;
$colorFondo: #4b453c;
$colorFondo2: rgba(0, 0, 0, 0.5);
$colorFondo3: transparent;
$font1: "Open Sans", sans-serif;
$font2: "Roboto", sans-serif;
$font3: "Dancing Script", cursive;
$defaultWidth: 100%;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  animation: aparece ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-width: 320px;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar {
  a {
    color: white !important;
  }

  a:hover {
    text-shadow: 2px 2px 2px black;
  }
}

.nav-link dropdown-toggle:hover {
  text-shadow: 2px 2px 2px black;
}
.dropdown-menu a {
  color: black !important;
}

footer {
  margin: 0;
  background-color: black;
  background: linear-gradient(to left, #000, rgb(83, 83, 83));
  color: beige;
  text-align: center;
  width: $defaultWidth;
  height: 7rem;
}

.seccionHome {
  color: cornsilk;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/back.jpg");

  nav {
    background-color: $colorFondo2 !important;
  }
  a:link,
  .seccionHome,
  .seccionHome a:active {
    text-decoration: none;
    /*color: white!important;*/
  }
}

.bannerHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  align-items: center;
  top: 20%;
  left: 50%;
  color: white;
  /*text-shadow: 2px 2px 2px black;*/
  background-color: $colorFondo2;

  h1 {
    font-family: $font2;
    font-size: x-large;
    font-weight: bolder;
  }

  h3 {
    font-family: $font3;
    font-size: larger;
  }
}

.modal-body,
.modal-header {
  color: black;
}

@media only screen and (min-width: 500px) {
  .bannerHome {
    font-size: large;
    height: 35rem;

    h1 {
      font-size: xx-large;
    }
  }

  .bannerMenues {
    align-items: flex-start !important;
    font-size: small;
  }

  .resumen1 {
    width: $defaultWidth/4;
    height: 11rem !important;
  }

  .resumen2 {
    width: $defaultWidth/4;
    height: 11rem !important;
  }

  .resumen3 {
    width: $defaultWidth/4;
    height: 11rem !important;
  }

  .menuLinea {
    width: $defaultWidth/1.4!important;
  }
}

@media only screen and (min-width: 768px) {
  .bannerHome {
    h1 {
      font-size: 3.5rem;
    }
  }

  .menuLinea {
    height: 3rem;
    width: $defaultWidth/1.4!important;
  }
}

.bannerMenues {
  font-family: $font2;
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: $colorFondo2;

  h3 {
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

@keyframes tiembla {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.resumen1 {
  margin: 0 0 1em 1em;
  height: auto;
  background-color: rgba(151, 6, 6, 0.5);
  animation-name: tiembla;
  animation-iteration-count: 2;
  animation-duration: 2s;
  border-radius: 25px;
}

.resumen2 {
  margin: 0 0 1em 1em;
  height: auto;
  background-color: rgba(151, 6, 6, 0.5);
  animation-name: tiembla;
  animation-iteration-count: 2;
  animation-duration: 2s;
  border-radius: 25px;
}

.resumen3 {
  margin: 0 0 1em 1em;
  height: auto;
  background-color: rgba(151, 6, 6, 0.5);
  animation-name: tiembla;
  animation-iteration-count: 2;
  animation-duration: 2s;
  border-radius: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.homeSubscripcion__tabla2 {
  margin: 0 auto;
  text-align: center;
  /*border-color: #3d3a33;*/
  background-color: $colorFondo2;
  border-radius: 25px;
  border-spacing: auto;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
  td{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.final {
 padding-bottom: 2rem;   
}



.homeSubscripcion {
  font-family: $font1;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 4%;
  color: #c9dcb3;
  background-color: $colorFondo2;

  h2 {
    font-family: $font2;
    text-shadow: 2px 2px 2px #3d3a33;
    padding-bottom: 1em;
  }
}

/* CSS del segmento CONTACTO */

.contacto {
  text-align: center;
  color: $colorLetra1;
  background-color: $colorFondo;

  nav {
    background-color: transparent !important;
  }

  h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.contactoInfo {
  margin: 0;
  width: $defaultWidth;
  padding-bottom: 5rem;
  font-family: $font1;
  display: flex;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: left;
  text-align: center;
}


#caba {
  background-color: #686154;
  padding-bottom: 2rem;
}

#mendoza {
  background-color: $colorFondo;
  padding-bottom: 2rem;
}

#santaFe {
  background-color: #686154;
  padding-bottom: 2rem;
}

/* CSS del segmento Delivery */

.delivery {
  padding-bottom: 3rem;
  color: $colorLetra1;
  background-color: $colorFondo;

  nav {
    background-color: transparent !important;
  }
}

.carousel-caption {
  h3,
  .carousel-caption p {
    color: black !important;
  }
}

/* CSS del segmento Carta */

.carta {
  color: $colorLetra1;
  background-color: $colorFondo;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/back.jpg");

  nav {
    background-color: $colorFondo2!important;
  }

  h1 {
    padding-bottom: 3%;
  }
}

.cartaInfo {
  background-color: $colorFondo2!important;
  width: $defaultWidth;
  padding-bottom: 5rem;
  font-family: $font1;
  display: flex;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.menuTitulo {
  font-family: $font2;
  font-size: x-large;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-shadow: 1px 1px 1px #444444;
}

.menuLinea {
  color: linen;
  font-family: $font2;
  text-shadow: 1px 1px 1px #444444;
  margin-top: 1%;
  margin-bottom: 1%;
  border: transparent solid 5px;
  width: auto;
  background-color: #645d5180;
  height: 3rem;
  box-shadow: 2px 2px 2px #645d516b;
  border-radius: 10px;

  h3 {
    font-size: larger;
  }

  p {
    font-size: medium;
    color: rgb(65, 65, 65);
  }
}

.menuLinea:hover {
  text-shadow: 2px 2px 2px #303030;
  
  box-shadow: 0 0 15px 10px #1614126b;
}

/* CSS del segmento Nosotros */

.nosotros {
  color: $colorLetra1;
  background-color: $colorFondo;


  nav {
    background-color: transparent !important;
  }
  h1 {
    text-align: center;
    font-size: xx-large;
    font-family: $font2;
    padding-bottom: 2%;
    /*text-shadow: 2px 2px 2px #201f1b;*/
  }
}

hr {
  background-color: $colorLetra1;
}

.nosotrosInfo {
  font-family: $font1;
  font-size: larger;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}

img:hover {
  transform: scale(1.05, 1.05);
  opacity: 0.75;
}
